# База данных
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=backend
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Backend
API_KEY=my_super_secret_api_key_for_bots

# Yandex Disk
YANDEX_DISK_TOKEN=yandex_token